@page "/"

<div class="row mb-5">
    <div class="col-12 col-md">
        <div class="inputContainer">
            <label class="form-label inputImportant">Full Name</label>
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="inputContainer">
            <label class="form-label">Last Name</label>
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 col-md">
        <div class="inputContainer">
            <label class="form-label inputImportant">Date of Birth</label>
            <input class="form-control" type="date" placeholder="" aria-label="default input example">
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="inputContainer">
            <label class="form-label">Place of Birth</label>
            <input class="form-control" type="text" placeholder="" aria-label="default input example">
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 col-md d-flex">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Male
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Female
            </label>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

<h5 class="mt-10 titleOfRow">Personal Information</h5>
<div class="row mb-5">
    <div class="col-12 col-md">
        <div class="inputContainer">
            <MudTextField @bind-Value="StudentDto.FullName" Label="Full Name"
                          Variant="Variant.Outlined" Required="true" RequiredError="This field is required"></MudTextField>
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="inputContainer">
            <MudTextField @bind-Value="StudentDto.LastName" Label="Last Name"
                          Variant="Variant.Outlined" RequiredError="This field is required" Required="true"></MudTextField>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 col-md">
        <div class="inputContainer">
            <MudDatePicker Label="Date of Birth" @bind-Date="_date" MaxDate="@MaxSelectableDate"
                           MinDate="@MinSelectedDate" Variant="Variant.Outlined" />
        </div>
    </div>
    <div class="col-12 col-md">
        <div class="inputContainer">
            <MudTextField @bind-Value="StudentDto.PlaceOfBirth" Label="Place of Birth"
                          Variant="Variant.Outlined"></MudTextField>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-12 col-md d-flex">
        <MudRadioGroup @bind-Value="StudentDto.Gender">
            <MudRadio Value="true" Color="Color.Primary" Dense="true">Male</MudRadio>
            <MudRadio Value="false" Color="Color.Secondary" Dense="true">Female</MudRadio>
        </MudRadioGroup>
    </div>
</div>

@code{
    private AddStudentDto StudentDto { get; set; } = new AddStudentDto();
    private DateTime? _date { get; set; }
    private DateTime MaxSelectableDate => DateTime.Today.AddYears(-6);
    private DateTime MinSelectedDate => DateTime.Today.AddYears(-60);

    public class AddStudentDto
    {
        public string FullName { get; set; }
        public string LastName { get; set; }
        public DateTime DateOfBirth { get; set; }
        public string? PlaceOfBirth { get; set; }
        public bool Gender { get; set; } = true;
        public string? WhatsAppNumber { get; set; }
        public string? PhoneNumber { get; set; }
        public string? Email { get; set; }
        public bool HasDisease { get; set; }
        public string Neighborhood { get; set; }
        public string? DiseaseType { get; set; }
        public string? City { get; set; }
        public string? SchoolName { get; set; }
        public string? ProfilePicturePath { get; set; }
    }
}