<MudNavMenu>
    <div class="NavLogo">
        <img class="" src="2024-08-12 at 10.38.40 pm 1.png" />
    </div>
    <div class="midNav">
        <MudPaper Elevation="0">
            <MudNavMenu>
                <MudText Typo="Typo.h6" Class="px-4">
                    <div style="font-size:22px ">
                        Override MudBlazor Styles
                    </div>
                </MudText>
                <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/AddStudent">Add Student</MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </div>
    <div class="logoutNav">
        <button type="button" class="btn btn-outline-danger logOut">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Log out</span>
        </button>
    </div>
</MudNavMenu>

